.ReactPublishToggle {
  display: inline-block;
}

.ReactPublishToggle--published path {
  fill: #2BBE37;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.ReactPublishToggle--unpublished path {
  fill: #808080;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

.ReactPublishToggle__screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ReactPublishToggle__published-icon-svg,
.ReactPublishToggle__unpublished-icon-svg {
  width: 20px;
  height: 26px;
}
