.ReactPublishToggle {
  display: inline-block;
}

.ReactPublishToggle--focus .ReactPublishToggle__cloud {
  stroke: #0099E0;
  stroke-width: 2;
  stroke-opacity: 1.0;
}

.ReactPublishToggle:active .ReactPublishToggle__cloud {
  stroke: #0099E0;
  stroke-width: 5;
  stroke-opacity: 0.7;
}

.ReactPublishToggle--published .ReactPublishToggle__cloud {
  fill: #2BBE37;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

.ReactPublishToggle--unpublished .ReactPublishToggle__cloud {
  fill: #808080;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

.ReactPublishToggle__check {
  fill: white;
}

.ReactPublishToggle--published .ReactPublishToggle__check {
  opacity: 1;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.ReactPublishToggle--unpublished .ReactPublishToggle__check {
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.ReactPublishToggle__screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
