.ReactPublishToggle {
  display: inline-block;
  cursor: default;
}

.ReactPublishToggle--focus .ReactPublishToggle__cloud {
  stroke: #0099E0;
  stroke-width: 3;
  stroke-opacity: 1.0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.ReactPublishToggle--active .ReactPublishToggle__cloud,
.ReactPublishToggle:active .ReactPublishToggle__cloud {
  stroke: #0099E0;
  stroke-width: 7;
  stroke-opacity: 0.65;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.ReactPublishToggle--published .ReactPublishToggle__cloud {
  fill: #2BBE37;
}

.ReactPublishToggle--unpublished .ReactPublishToggle__cloud {
  fill: #808080;
}

.ReactPublishToggle__check {
  fill: white;
}

.ReactPublishToggle--published .ReactPublishToggle__check {
  opacity: 1;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.ReactPublishToggle--unpublished .ReactPublishToggle__check {
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.ReactPublishToggle__screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
